.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 12px;
    z-index: 1;
    border-radius: 12px;
    margin-top: 4px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width: 740px) {
    header {
        flex-direction: column;
        gap: 1.3rem;
    }
}
