.list {
  display: grid;
  margin: 0;
  /* https://css-tricks.com/responsive-layouts-fewer-media-queries/ */
  --w: 280px;
  --n: 2;
  gap: var(--size-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
  );
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
}

.listItem {
  margin: 0;
}

.listItem::marker {
  color: #e95800;
}

.listItem:nth-child(2)::marker {
  color: #159bf3;
}

.listItem:nth-child(3)::marker {
  color: #8eb814;
}

.listItem:nth-child(4)::marker {
  color: #663399;
}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
}

.textCenter {
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.container {
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat 3rem;
}

.child {
  scroll-snap-align: start;
}

@media (min-width: 1000px) {
  .persona {
    gap: 2rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 1000px) {
  .persona {
    flex-direction: column;
    gap: 2rem
  }
}

.persona {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
  flex: 1.5;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.greeting {
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  max-width: 950px;
  margin: auto auto;
}